[submodule "vol-wallet-js"]
	path = vol-wallet-js
	url = git@github.com:cryptogogue/vol-wallet-js.git
[submodule "vol-discord-js"]
	path = vol-discord-js
	url = git@github.com:cryptogogue/vol-discord-js.git
[submodule "vol-node-cpp"]
	path = vol-node-cpp
	url = git@github.com:cryptogogue/vol-node-cpp.git
